<div class="menu">
  <div class="social-media">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">about us</a>
      <a class="nav-link small" href="#">who are us</a>
      <a class="nav-link small" href="#">why us?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">news</a>
      <a class="nav-link small" href="#">news</a>
      <a class="nav-link small" href="#">events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link small" href="#">sitemap</a>
    </li>
  </ul>
</div>
